.header {
	background-color: #161c23;
	padding: 30px;

	&__container {
		display: flex;
	}

	&__logo {
		width: 170px;
		flex-shrink: 0;
		padding: 3px 0;

		img {
			display: block;
		}
	}

	&__nav {
		width: 100%;
		padding: 10px;

		> ul {
			display: flex;
			justify-content: center;

			> li {
				padding: 0 12px;
				
				> ul {
					position: absolute;
					display: none;
				}
			}
		}

		a {
			font-size: 16px;
			color: #d9d9d9;
		}
	}

	&__search {
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		border: 1px solid #616161;
		position: relative;
		overflow: hidden;
		transition: width .4s ease;

		&-container {
			position: absolute;
			top: 0;
			right: 0;
			transition: transform .4s ease;
			display: flex;
			width: 220px;
		}

		&--input {
			transition: transform .4s ease-in-out;
			width: 180px;
			border: 0;
			background-color: #161c23;
			padding: 5px 15px;
			font-family: $sans;
			font-size: 14px;
			font-weight: 500;
			color: #6d6d6d;
			appearance: none;

			transition: background .4s ease;
		}

		&--submit {
			width: 40px;
			height: 40px;
			padding: 0;
			border: 0;
			appearance: none;
			transition: background .4s ease;
			color: #d9d9d9;
			background-color: transparent;
		}

		&:hover, &.active {
			width: 220px;

			.header__search--input {
				background-color: #fff;
			}

			.header__search--submit {
				background-color: #fff;
			}
		}
	}

	&__social {
		flex-shrink: 0;
		display: flex;
		padding: 10px 0;
		margin-left: 30px;

		li {

			a {
				width: 20px;
				height: 20px;
				display: block;
				background-repeat: no-repeat;
				background-position: center;
				margin: 0 8px;
				overflow: hidden;
				color: #a3cd39;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

}