.single {

	&__content {
		font-family: $serif;

		h1, h2, h3, h4, h5, h6 {
			font-family: $sans;
			font-weight: 700;
			color: #67b718;
		}

		h1 { font-size: 40px; }
		h2 { font-size: 34px; margin: 40px 0 15px; }
		h3 { font-size: 28px; margin: 30px 0 20px; }
		h4 { font-size: 22px; margin: 20px 0 10px; }
		h5 { font-size: 18px; margin: 10px 0 5px; }
		h6 { font-size: 16px; margin: 10px 0 5px; }

		p {
			margin: 0 0 35px;
			font-size: 18px;
			line-height: 28px;

			a {
				color: #67b719;
				font-style: italic;
				font-weight: 700;
			}
		}

		del { text-decoration: line-through; }

		ul, ol {
			margin: 0 0 35px;
			font-size: 18px;
			line-height: 28px;
			padding-left: 1em;
		}

		ul li { 
			list-style: disc;
			list-style-position: inside;
		}

		ol li { 
			list-style: decimal;
			list-style: decimal-leading-zero;
			list-style-position: inside;
		}

		blockquote {
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 50px;
			padding-left: 15px;
			border-left: 3px solid #ccc;

			p { font-size: 16px; }

			em {
				font-size: 14px;
				color: lighten(#000, 20%);
			}
  		}


		&--full-screen {
			margin: 20px 0 50px;
			width: 100%;
			left: 0;

			img {
				display: block;
				position: absolute;
				width: 100%;
				max-width: 1980px;
				left: 0;
			}
		}

		&--embed {
			position: relative;
			padding-bottom: 54.54%;
			margin: 20px 0 30px;

			iframe {
				position: absolute;
				width: 100%;
				height: 100%;
				border: 0;
			}

			&-play {
				cursor: pointer;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1);
				transition: transform .2s cubic-bezier(0.78, -1.18, 0.25, 0.79);
				position: absolute;
				padding: 20px 20px 20px 35px;
				background: #161C23;
				width: 100px;
				height: 100px;
				border-radius: 50%;

				svg {
					color: #fff;
					transition: color .4s ease;
				}

				&:hover svg {
					color: #AFCC49;
				}
			}

			&:hover &-play {
				transform: translate(-50%, -50%) scale(1.1);
			}
		}

	}


	// Galeria de imagens
	.gallery {
		margin-bottom: 20px;

		img { 
			display: block;
			width: 100%;
		}

		// Slider
		&__slider {
			width: 100%;
			background-color: darken($bodyBgColor, 5%);
			box-shadow: 0 0 0 1px darken($bodyBgColor, 10%) inset;

			.flickity-viewport {
				position: absolute;
				width: 100%;
			}

			.flickity-prev-next-button {
				border-radius: 0;
				width: 90px;
				height: 90px;
				background-color: rgba(#000, .5);
				transition: background .2s ease;

				.arrow { 
					fill: rgba(#fff, .3); 
					transition: fill .2s ease;
				}

				&:active {
					background-color: rgba(#000, .8);
					opacity: 1;

					.arrow { fill: rgba(#fff, .6); }
				}
			}

			.flickity-prev-next-button.previous,
			.flickity-prev-next-button.next{ 
				opacity: 0;
				transition: all .4s ease;
			}

			.flickity-prev-next-button.previous { transform: translateX(-10%) translateY(-50%);  }
			.flickity-prev-next-button.next     { transform: translateX(10%) translateY(-50%); }

			&:hover {
				.flickity-prev-next-button.previous,
				.flickity-prev-next-button.next {
					transform: translateX(0) translateY(-50%);
					opacity: 1;
				}
			}

			&--preview {
				width: 100%;
				padding-bottom: 56.25%;
				margin-bottom: 1px;

				&-item {
					width: 100%;
					height: 100%;

					img {
						height: 100%;
						object-fit: contain;
					}
				}
			}

			&--thumbs {
				background-color: darken($bodyBgColor, 10%);
				width: 100%;
				height: 90px;

				&-item {
					width: 20%;
					height: 100%;
					position: relative;

					&::before, &::after {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						width: 100%;
					}

					&::before {
						top: 0;
						height: 100%;
						background-color: rgba(#67b718, .24);
						opacity: 0;
						transition: opacity .4s ease;
					}

					&::after {
						bottom: 0;
						height: 5px;
						background-color: #67b718;
						transform: translateY(100%);
						opacity: 0;
						transition: transform .4s ease;
					}

					img { object-fit: cover; }

					&.is-nav-selected {

						&::before {
							opacity: 1;
						}

						&::after {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}
			}
		}


		&__tiles {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&--item {
				margin-bottom: 15px;
				width: 50%;
				width: calc(50% - 7.5px);
			}

			&--main {
				width: 100%;
			}
		}
		

	} /* @ galeria */

}


/* Analises */
.single-analises {
	
	// Cabeçalho
	&__header {
		position: relative;
		background-color: #000;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(#000, 0) 0%, rgba(#000, 0) 50%, rgba(#000, 0) 50%, rgba(#000, 0.8) 100%);
		}

		&--container {
			position: relative;
		}

		&--infos {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			text-align: center;
		}
	}

	&__thumbnail {
		width: 100%;
		height: 650px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		font-size: 40px;
		font-weight: 800;
		color: #b6ff00;
		letter-spacing: 2px;
	}

	&__data {
		display: flex;
		justify-content: center;
		color: #fff;
		font-size: 14px;

		> * {
			padding: 25px;
		}

		&--author {

			a {
				color: #87bc03;
			}
		}
	}

	// Ficha tecnica
	&__datasheet {
		color: #fff;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 20px;
		padding-bottom: 1px;

		&--data {
			background-color: rgba(#8fc800, .17);
			background-blend-mode: multiply;
			padding: 10px 20px 15px;
			flex-grow: 0;
			font-size: 13px;
			margin: 1px;
			max-width: 150px;
		}

		&--title {
			color: #e5b200;
			margin-bottom: 10px;
		}

		&--content {
			font-weight: 500;
			text-transform: uppercase;

			a {
				color: #fff;
			}

			* {
				font-weight: 500;
			}
		}
	}

	// Conteudo
	&__text {
		padding: 15px 110px;
	}

}


/* notícias */
.single-noticias {

	&__video {
		
	}

	&__thumbnail {
		margin-top: 20px
	}

	&__title {
		font-size: 38px;
		line-height: 42px;
		margin: 30px 0;
		text-align: center;
	}

	&__subtitle {
		font-size: 22px;
		line-height: 28px;
		font-style: italic;
		color: #666;
		text-align: center;
		margin-bottom: 30px;
	}

	&__data {
		position: relative;
		border-top: 1px solid #c8c8c8;
	}

	&__stamp {
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 14px;
		color: #3e3e3e;
		margin-top: 28px;
		font-family: $sans;

		a { 
			color: #87bc03;
			font-style: italic;
		}

		> * { margin-right: 20px; }

		.icon__views {
			margin-right: 5px;
			display: block;
			float: left;

			svg { 
				width: 20px; 
				height: auto;
			}
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;

		&--ad {
			flex-shrink: 0;
			margin-left: 50px;
			width: 160px;
		}
	}

}
