body {
	background-color: $bodyBgColor;
}

// Helper
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	padding-left: 30px;
	padding-right: 30px;
}


// Ads
.ad {
	background-color: darken($bodyBgColor, 5%);
	box-shadow: 0 0 0 1px darken($bodyBgColor, 10%) inset;
}

// Share
.share {

	&__buttons {
		display: flex;
		justify-content: center;
		position: relative;
		margin: 20px 0;

		&--button {
			display: block;
			width: 35px;
			height: 35px;
			padding: 5px 7px;
			border-radius: 50%;
			margin: 0 12px;
			color: #fff;

			svg {
				width: 100%;
			}
		}

		.facebook { background-color: #3b5999 }
		.twitter  { background-color: #55acee }
		.gplus    { background-color: #dc473a }

		.comments { 
			background-color: #9ebf4c;
			height: 35px;
			padding: 0 12px;
			position: relative;
			line-height: 37px;
			font-size: 14px;
			font-weight: 700;
			color: #fff;
			border-radius: 5px;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(135px);

			&::after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 5px 0 5px;
				border-color: #9ebf4c transparent transparent transparent;
				position: absolute;
				left: 0;
				bottom: 0;
				margin-left: 8px;
				margin-bottom: -8px;
			}
		}
	}

	&__counter {
		text-align: center;
		margin: 25px 0 20px;
		position: relative;

		&--number {
			display: inline-block;
			border-radius: 15px;
			padding: 8px 15px 7px;
			border: 1px solid #c8c8c8;
			line-height: 1em;
			background-color: $bodyBgColor;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 1px;
			border-bottom: 1px solid #c8c8c8;
			margin-top: 15px;
			z-index: -1;
		}
	}
}