$sans: 'Fira Sans', sans-serif;
$serif: 'Noto Serif', serif;

body { font-family: $sans; }

article {

	/* bold */
	b, strong { font-weight: bold; }

	/* Italic */
	i, em { font-style: italic; }

	/* Listagem */
	ul li { list-style: inside disc; }
	ol li { list-style: inside decimal; }
}

.hide-title { display: none; }